#a{
	font-size: 13px;
	color: #9a9791;
	float: left;
	margin-top: 10px;
}
#b{
	font-size: 13px;
	color: #9a9791;
	margin-left: 11px;
}
#c{
	font-size: 13px;
	color: #9a9791;
	line-height: 19px;
	margin-left: 11px;"
}
#d{
	font-size: 13px;
	color: #9a9791;
}
#e{
	font-size: 13px;
	color: #9a9791;
	margin-left: 11px;
}
#f{
	font-size: 13px;
	color: #9a9791;
	margin-left: 11px;
}
#g{
	font-size: 13px;
	color: #9a9791;
	margin-left: 11px;
}
#h{
	font-size: 13px;
	color: #9a9791;
}
#i{
	font-size: 13px;
	color: #9a9791;
	margin-left: 11px;
}
#g{
	font-size: 13px;
	color: #9a9791;
	margin-left: 11px;
}
#k{
	font-size: 13px;
	color: #9a9791;
}
#j{
	font-size: 13px;
	color: #fe6c00;
}
*{
	padding: 0;
	margin: 0;
	text-decoration:none;  
	list-style:none; 
}
 ul,li,ol{
 	list-style: none;
 }
 a{
 	text-decoration: none;
 }
.head{
	width: 100%;
	background-color: #ffffff;
	z-index: 5;
 }
.forhead{
	height: 129px;
	width: 1180px;
	margin: 0 auto;
}
.one{
	height: 41px;
	width: 1180px;
}
.h1{
	margin: auto;
	float: left;
	font-size: 15px;
	color: #9a9791;
}
.hewen{
	margin-top: 8px;
	float: right
}
#tt{
	margin-left: 375px;
	margin-top: 11px;
}
#ff{
	margin-left: 14px;
}
.ele{
	margin-left: 11px;
}
#leftlist{
	width: 100%;
	height: 893px;
	background-color: #f8f7f6;
}
.tutu{
	width: 200px;
	height: 183px;
	float: left;
}
.two{
	width: 583px;
	height: 73px;
	margin-left: 108px;
	float: left;
	margin-top: 15px;
}
#logo_03{
	float: left;
}
#alll{
	line-height: 40px;
	margin-left: 36px;
	color: #ffffff;
}
#hott{
	margin-left: -7px;
}
#xi{
	color: #ff0000;
	font-size: 13px;
	margin-left: 7px;
}
.han{
	font-size: 15px;
	color: #ebe7e7;
}
.yue{
	color: #ff0000;
	font-size: 13px;
}
.hao{
	color: #abbee6;
	font-size: 13px;"
}
.h2{
	width: 583px;
	height: 40px;
	background-color: #fe6c00;
	border-radius: 3px;
}
.girl{
	line-height: 40px;
	color: #000000;
}
.tel{
	font-size: 12px;
	color: #9a9791;
}
#wenhao{
	padding-top: 14px;
	padding-left: 7px;
	float: left;
}
.problem{
	padding-top: 11px;
	float: left;
	font-size: 13px;
	color: #ffffff;
}
.ss{
	padding-left: 32px;
	padding-top: 6px;
}
#notice{
	margin-left: 21px;
	margin-top: 14px;
}
#help{
	color: #fe6c00;
	margin-left: 11px;
	position: relative;
}
#top1{
	width: 494px;
	height: 34px;
	background-color: #ffffff;
	border:0px solid #ffffff;
	margin-left: 3px;
	margin-top: 3px;
	float: left;
}
#top2{
	width: 71px;
	height: 34px;
    background-color: #fe6c00;
    border:1px solid #fe6c00;
    margin: auto;
    color: #ffffff;
    font-size: 15px;
    line-height: 40px;
    margin-left: 8px;
}
.top3{
	width: 583px;
	height: 20px;
	margin-top: 5px;
}
#tel1{
	width: 84px;
	height: 40px;
	float: left;
	margin-left: 90px;
	margin-top: 15px;
	border:1px solid #e6e5e2;
    border-radius:4px;
}
#tel2{
	width: 84px;
	height: 40px;
	float: left;
	border:1px solid #e6e5e2;
    border-radius:4px;
    margin-top: 15px;
}
#tel3{
	width: 84px;
	height: 40px;
	float: left;
	margin-top: 15px;
	border:1px solid #e6e5e2;
    border-radius:4px;
    background-color: #ff4d04;
}
.bodyone{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
}
.b1{
	width: 170px;
	height: 40px;
	background-color: #ff4d04;
	float: left;
}
.b2{
	width: 56px;
	height: 40px;
	float: left;
	margin-left: 44px;
}
.b3{
	width: 68px;
	height: 40px;
	float: left;
	margin-left: 44px;
}
.b4{
	width: 100px;
	height: 40px;
	float: left;
	margin-left: 44px;
}
.rightt{
	width: 210px;
	height: 547px;
	float: left;
	background-color: #ffffff;
}
.rightt1{
	width: 210px;
	height: 44px;
	border-bottom: 1px solid #ebeae7;
}
.topp{
	font-size: 16px;
}
.word{
	color: #666560;
	line-height: 27px;
}
#rightt2{
    overflow: hidden;
    width: 200px;
    height: 320px;
    float: left;
    font-size: 14px;
    position: absolute;
    padding-left: 10px;
}
#rightt2 ul{
    text-align: left;
    margin: 0px;
    padding: 0px;
    width: 210px;
    color: #ff4d04;
}
#rightt2 ul strong{
    display: block;
    height: 30px;
}
#rightt2 ul strong a{
	color: #ff4d04;
	text-decoration: none;
}
.rightt3{
	width: 210px;
	height: 183px;
}
.num1{
	 width: 59px;
	 height: 16px;
	 margin-left: 17px;
}
.num2{
	width: 122px;
	height: 22px;
	margin-left: 16px;
	margin-top: 9px;
	color:#74736d;
	border: 1px solid #aca7a2;
}
.num3{
	width: 177px;
	height: 25px;
	background-color: #ff4d04;
	border-radius: 3px;
	margin-top: 6px;
	margin-left: 16px;
}
.leftlist{
	width: 169px;
	height: 547px;
	float: left;
	background-color: white;
}
.leftlist1{
	width: 25px;
	height: 392px;
	background-color: #4c4c4a;
	float: left;
	display:inline-block;
	color:#FF6347;
	line-height: 20px;
	font-size:15px;
	padding-top:25px;
	text-align: center;
}
.leftlist2{
	width: 144px;
	height: 412px;
	background-color: #ffffff;
	float: right;
	position:absolute;
	display: inline-block;
}
.leftlist li{
	display: inline-block;
	position: relative;
	height: 34px;
	width: 35px;
	float: left;
}
.leftlist2 li a{ 
	color:black; 
	position: absolute;
	top:15px;
	left:7.5px;
	text-align: center;
	font-size: 13px;
}
.aask{
	width: 169px;
	height: 125px;
	float: left;
	border-top: 1px solid #FF6347;
}
.ask{
	width: 169px;
	height: 41px;
}
.xiao{
	margin-left: 7px;
	margin-top: 12px;
	float: left;
}
.word1{
	font-size: 14px;
	color: #855d38;
	float: left;
}
.word2{
	margin-top: 16px;
	margin-left: 10px;
	float: left;
}
#body3{
	width: 1180px;
	height: 182px;
 	margin: 0 auto;
}
.guider{
	width: 780px;
	height: 150px;
	float: left;
	margin-top: 32px;
	margin-left: 86px;
}

.guide{
	width: 130px;
	height: 115px;
	float: left;
	font-size: 13px;
}
.more{
	width: 70px;
	height: 115px;
	float: left;
	font-size: 13px;
}

#botto1{
	width: 653px;
	padding-top: 15px;
	font-size: 14px;
	color: #666560;
	margin: auto;
}
#botto2{
	width: 481px;
	padding-top: 10px;
	font-size: 12px;
	color: #666560;
	margin: auto;
}
#botto3{
	width: 1061px;
	padding-top: 10px;
	font-size: 12px;
	color: #666560;
	margin: auto;
}
#botto4{
	width: 127px;
	padding-top: 10px;
	font-size: 12px;
	color: #666560;
	margin: auto;
}
#botto5{
	margin: auto;
	width: 799px;
	height: 56px;
}
.main{
	width: 800px;
	height: 547px;
	float: left;
}
.main1{
	width: 800px;
	height: 362px;
	float: left;
}
.main1{
	width: 800px;
	height: 362px;
	border: 1px solid #ff4d04;
	position: relative;
	overflow: hidden;
}
.main2{
	width: 6400px;
	position: absolute;
	left: -800px;
}
.banner{
	width: 800px;
	overflow: hidden;
	float: left;
}
.main1>span{
	display: block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	top: 130px;
	line-height: 60px;
	position: absolute;
	overflow: hidden;
	opacity: 0;
}
#left12{
	left: 12px;
}
#right12{
	right: 12px;
}
.nav{
	position: absolute;
	left: 330px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #efeeec;
	cursor: pointer;
	margin: 0 4px;
	border-radius: 50%;
	text-align: center;
}
.nav .active{
	background: red;
}





.rightfly{
	position: fixed;
	right: 0px;
	top: 100px;
	z-index: 60;
}
.fly1{
	position: relative;
	right: -95px;
	margin-top: 1px;
}
#sound1{
	height: 100px;
	right: -95px;
}
#sound11{
	display: block;
	width: 130px;
}

#sound2{
	height: 140px;
	right: -95px;
}
.denglu{
	position: absolute;
	top: 50%;
	right: 20px;
	height: 50px;
	width: 60px;
	margin-top: -25px;
	text-align: center;
}
.deng{
	font-size: 13px;
}
.lu{
	border: 1px solid #fff;
	border-radius: 3px;
	font-size: 11px;
	color: #fff;
	width: 40px;
	background-color: rgba(0, 0, 0, 0);
	margin-top: 17px;
}

.ewei{
	margin-top: 45px;
	margin-left: 13px;
}

#sound3{
	right: -95px;
	height: 150px;
}
